@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* previous coder root  */

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 16px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 0.0625rem;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 6px;
  --bs-border-radius-sm: 4px;
  --bs-border-radius-lg: 8px;
  --bs-border-radius-xl: 16px;
  --bs-border-radius-2xl: 32px;
  --bs-border-radius-pill: 800px;
  --bs-link-color: #3282f9;
  --bs-link-hover-color: #0a4bad;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}
/* my code starts here */

body {
  font-family: "Roboto", sans-serif;
  /* min-width: fit-content; */
  /* padding: 0; */
  background-color: var(--bs-body-bg);
  font-weight: var(--bs-body-font-weight);
  /* overflow-x: hidden; */
  font-size: var(--bs-body-font-size);
}

/*Nav*/
header {
  /* width: 100%; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /* overflow: hidden; */
}

.navlinks-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

#navlinks {
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
}

.logo {
  width: 150px;
  height: auto;
}

/* Hero Section */
.hero-section {
  background-image: url(../asset/heroone.jpg);
  width: 100%;
  min-height: 60vh;
  object-fit: contain;
  background-position: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.hero-header-text {
  width: 90%;
  color: var(--bs-gray-100);
}

.hero-header-text > h2 {
  text-align: left;
  margin-left: 15px;
  padding-top: 1.875rem;
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.hero-paragraph {
  margin-left: 13.5px;
  font-weight: 100;
}

.span {
  font-weight: 700;
  /* margin-top: 100px !important ; */
  font-size: 60px;
  letter-spacing: 1.5px;
}

.news-slider{
  margin-left: 13.5px;
  padding-top: 1.875rem;
}

.news-slider > h3 {
  padding-bottom: 1rem;
  color: white;

}

.owl-container{
  background-color: rgba(0, 0, 0, 0.1);
}

.news-img{
  width: 149px;
  max-height: 100px;
  border: none;
    object-fit: cover;


}

.item{
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0.3);
  
}

.item > h4 {
  font-weight: 400;
  margin-top: 10px;
  color: white;

}

.item > a{
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  margin: 15px 0;

}

.cssbuttons-io-button .icon-btn {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon-btn {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon-btn svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon-btn svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon-btn {
  transform: scale(0.95);
}


.navlinks-item {
  display: inline-flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.navlinks-item > ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.navlinks-item > ul > li > a {
  text-decoration: none;
}

.lang {
  margin-left: 10px;
}

#search {
  display: none;
}
.search-container {
  display: inline-flex;
  padding: 15px 0;
  gap: 4px;
}

hr {
  margin-bottom: 10px;
}

.icon {
  width: 15px;
  margin-right: 5px;
}

.item-one {
  font-weight: 500;
}

.item-two {
  font-weight: 300;
}

#bar {
  display: none;
}

.second-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
}

.second-main ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.second-main ul li {
  margin: 0 0 0 0.625rem;
  font-size: medium;
  font-weight: 600;
}

.input-field {
  padding: 0.4375rem 0.1875rem;
  border: solid 0.0625rem;
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  font-weight: 500;
}

.input-field::placeholder {
  font-weight: 500;
  color: var(--bs-gray-700);
  opacity: 0.4;
}

.search-btn {
  margin: 0 0 0 0.625rem;
  padding: 0.4375rem 0.625rem;
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--bs-body-bg);
  background-color: var(--bs-cyan);
  border: none;
  border-radius: 0.3125rem;
}

/* first barnner section */

.first-section {
  /* margin-top: 1.5rem; */
}

.first-section img {
  border: solid 0.0625rem;
  width: 100%;
  height: 25rem;
}

.under-img-text {
  display: flex;
  align-items: center;
  margin: 0 3.75rem;
  padding: 0.3125rem;
}

.under-img-text p {
  margin-left: 0.625rem;
}

.under-img-text p span {
  display: flex;
}

.under-img-text p span:last-of-type {
  font-size: 0.6875rem;
  font-weight: 700;
}

/* second section  */

.second-section {
  margin: 1.5rem 3.75rem;
  padding: 0.3125rem;
}

.second-section h1 {
  text-align: center;
  font-family: var(--bs-font-monospace);
  font-size: 1.5625rem;
  font-weight: 200;
}

.second-div-main1 {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.second-section .second-div main h2 {
  font-size: 2.5rem;
}

.second-section .second-div main p,
h2 {
  text-align: center;
}

/*  third section  */

.third-section-main1 {
  margin: 1.5rem 3.75rem;
  padding: 0.3125rem;
  display: flex;
  align-items: center;
}

.third-section-main1 h1 {
  font-family: var(--bs-font-monospace);
  font-size: 2.1875rem;
  font-weight: 100;
}

.third-section-main1 li,
a {
  list-style-type: none;
  color: var(--bs-link-color);
  margin-left: 0.625rem;
}

.third-section-main2 {
  background-image: url("dummy-image/img (4).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--bs-gradient);
  height: 31.25rem;
}

.third-section-main2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.third-section-main2 img {
  width: 18.75rem;
  height: 18.75rem;
  margin-top: 6.25rem;
}

footer {
  background-color: var(--bs-body-color);
  overflow-x: hidden;
}

footer section {
  margin: 0 3.75rem;
  padding: 0.625rem;
}

footer section main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--bs-cyan);
}
footer section .link-div {
  width: 400px;
  padding: 0.625rem;
}

.link-div > h1 {
  padding-left: 5px;
}

footer section .link-div ul li {
  list-style-type: none;
  text-decoration: none;
  /* font-size: 1.125rem; */
  font-size: 1.5625rem;
  margin-top: 15px;
}

footer section .link-div h1 {
  text-transform: capitalize;
  font-size: 2.5625rem;
  color: var(--bs-body-bg);
}

.main-footer-div {
  width: 400px;
  padding: 0.625rem;
}

.footer-div1 h1 {
  font-size: 2.5625rem;
  color: var(--bs-body-bg);
  text-transform: capitalize;
  margin-bottom: 10px;
}

.footer-div1 p {
  color: var(--bs-body-bg);
  text-transform: capitalize;
  margin-bottom: 5px;
}

.footer-div2 h3 {
  font-size: 18px;
  color: var(--bs-body-bg);
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.footer-div2 p {
  font-size: 17px;
  color: var(--bs-body-bg);
  text-align: end;
}

.footer-div3 h3 {
  font-size: 18px;
  color: var(--bs-body-bg);
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.footer-div3 p {
  font-size: 17px;
  color: var(--bs-body-bg);
  text-align: end;
}

.footer-div4 h3 {
  font-size: 18px;
  color: var(--bs-body-bg);
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.footer-div4 p {
  font-size: 17px;
  color: var(--bs-body-bg);
  text-align: end;
}

.footer-div5 h3 {
  font-size: 18px;
  color: var(--bs-body-bg);
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.footer-div5 p {
  font-size: 17px;
  color: var(--bs-body-bg);
  text-align: end;
}

/* .social-link {
  border: solid 1px ;
} */

.social-link h1 {
  font-size: 2.5625rem;
  text-transform: capitalize;
  color: var(--bs-body-bg);
}

.social-link ol li {
  list-style-type: none;
}

.social-link ol li {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--bs-body-bg);
  text-align: center;
}

.copywright {
  border-top: solid 1px;
  padding: 40px;
}

.copywright h1 {
  font-size: 25px;
  text-align: center;
  color: var(--bs-body-bg);
}


/* footer section */

/* about page section  */

.first-about-section h1{
  font-size: 45px;
  text-align: center;
}

.first-about-section blockquote {
  font-size: 25px;
  text-align: center;
}

.the-1899-1911-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 32px;
  margin-bottom: 10px;
}

.section-1899 {
  width: 500px;
}

.section-1899 h1{
  font-size: 35px;
  text-align: center;
}

.section-1899 blockquote{
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
}

.section-1911 {
  width: 500px;
}

.section-1911 h1{
  font-size: 35px;
  text-align: center;
}

.section-1911 blockquote{
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}

/* key indicator section */

.key-indicator {
  margin: 50px 0 25px 0;
}

.key-indicator-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin:32px 0 10px 0;
}

.key-indicator .key-h1 {
  font-size: 45px;
  text-align: center;
}

.key-indicator-section div {
  text-align: center;
  width: 180px;
}

.key-indicator-section h5 {
  font-size: 45px;
}
.key-indicator-section p {
  font-size: 20px;
}

/* our value and strategy section */

.strategy {
  margin: 40px 0 20px 0;
}

.strategy-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 62px;
}

.strategy-div div {
  border-right: solid 1px ;
  /* width: 500px; */
  height: 300px;
  padding: 20px;
}

.strategy-div div:last-of-type {
  border: none;
}

.strategy-div div h4{
  font-size: 40px;
}

.strategy-div div p{
  font-size: 20px;
  margin-top: 30px;
  letter-spacing: 1px;
}

/* employee count */

.staff {
  margin: 50px 0 30px 0;
}

.staff-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.staff-section main {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-left: 30px;
}

.staff-section main div {
  margin:20px 0 0 20px;
  border-left: dashed 2px;
  padding: 10px;
}

.staff-section main div h4 {
  font-size: 50px;
}

.staff-section main div p {
  font-size: 30px;
}

.staff-section .total-staff h4 {
  font-size: 40px;
}

.staff-section .total-staff i {
  font-size: 30px;
  margin-left: 60px;
  font-weight: bold;
}

/*Responsiveness*/
@media screen and (max-width: 1150px) {
  #bar {
    display: block;
    cursor: pointer;
  }

  #navlinks {
    display: none;
    position: absolute;
    content: "";
    top: 14vh;
    right: -300px;
    width: 45%;
    background-color: var(--bs-body-bg);
    padding: 15px 5px;
    padding-bottom: 30vh;
    border-radius: 10px 0 0 10px;
    /* height: 80vh; */
    border: solid rgb(211, 211, 211) 2px;
    transition: 1s ease-in-out;
    z-index: 999;
  }

  .navlinks-item {
    flex-direction: column;
  }

  .navlinks-item > ul {
    flex-direction: column;
  }

  .item-one {
    display: flex;
    flex-direction: column;
  }

  .item-two {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    font-size: 13px;
  }

  .icon {
    width: 13px;
  }

  .lang {
    width: 80px;
    margin-top: 5px;
  }

  .hero-header-text > h2 {
    text-align: left;
    margin-left: 10px;
    padding-top: 1.875rem;
    font-size: 25px;
    font-weight: 300;
    color: var(--bs-gray-100);
    line-height: 45px;
    letter-spacing: 2.5px;
  }

  .hero-header-text > h2 > span {
    font-weight: 700;
    margin-top: 5px;
    font-size: 40px;
    letter-spacing: 1.5px;
  }

  footer section main {
    flex-direction: column;
    padding: 0;
  }

  footer section .link-div {
    width: 90vw;
    padding: 0.625rem;
  }

  .social-link > ol {
    display: flex;
    justify-content: space-around;
  }

  .main-footer-div,
  .last-footer-div {
    width: 90vw;
  }
}

@media screen and (max-width: 500px) {
  .search {
    display: none;
  }

  #navlinks {
    top: 10vh;
  }

  #search {
    display: block;
  }
}

